# Zomato Exercise
Marc Jose L. Cortes

Data 100 - S17

12125296 BS-Electronics Engineering

Zomato is a restaurant aggregator website. The platform provides information, menus and user-reviews of restaurants as well as food delivery options from partner restaurants in select cities. You have been provided 3 datasets:

- zomato.csv contains restaurant information like average_cost_for_two, cuisines
- location.csv contains location of the restaurants like address, city, locality & etc
- ratings.csv contains aggregate rating for each restaurant

The different files are connected using the `id` columns which can be found in the different files. The id column is a unique identifier to represent a restaurant. You can use this to **merge** the different files.

In [13]:
import pandas as pd
import numpy as np

1. Merge the zomato, location & ratings file into a signle dataframe and store it to the `merged_df` variable **(3pts)**

In [14]:
zomato_df = pd.read_csv('zomato.csv')
location_df = pd.read_csv('location.csv')
ratings_df = pd.read_csv('ratings.csv')

merged_df = pd.merge(zomato_df, location_df, on='id')
merged_df = pd.merge(merged_df, ratings_df, on='id')

In [15]:
assert (6830, 35)==merged_df.shape

cols = ['id', 'address', 'city', 'city_id', 'country_id', 'latitude',
       'locality', 'locality_verbose', 'longitude', 'zipcode',
       'aggregate_rating', 'rating_color', 'rating_text', 'votes',
       'average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view',
       'is_delivering_now', 'is_table_reservation_supported',
       'is_zomato_book_res', 'menu_url', 'mezzo_provider', 'name',
       'photos_url', 'price_range', 'thumb', 'url']

assert sorted(merged_df.columns) == sorted(cols)

2. Create a function that returns the average aggregate rating for each city. Expected returned value is a Series datatype which contains name of city as index and average aggregate rating as value. **(2pts)**

In [16]:
def exercise_2(merged_df):
    return merged_df.groupby('city')['aggregate_rating'].mean()

In [17]:
res_series = exercise_2(merged_df)
assert True == np.isclose(3.302075, res_series[res_series.index == 'Pasay City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.890741, res_series[res_series.index == 'Valenzuela City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]
assert True == np.isclose(1.558333, res_series[res_series.index == 'Malabon City'],
                          rtol=1e-05, atol=1e-08, equal_nan=False)[0]

3. Using the apply function of pandas convert the rating_text to a numeric equivalent. You are to introduce a new column in merged_df called `rating_numeric` which is based on the value from rating_text: **(3pts)**

Excellent = 5 <br>
Very Good = 4 <br>
Good = 3 <br>
Average = 2 <br>
Poor = 1 <br>
Not rated = 0 <br>

In [18]:
rating = {
    "Excellent": 5,
    "Very Good": 4,
    "Good": 3,
    "Average": 2,
    "Poor": 1,
    "Not rated": 0
}

def convert_rating_text_to_numeric(rating_text):
    rating_map = {
        'Excellent': 5,
        'Very Good': 4,
        'Good': 3,
        'Average': 2,
        'Poor': 1,
        'Not rated': 0
    }
    return rating_map.get(rating_text, 0)  # Return 0 for unknown ratings

# Use the apply function to create a new column 'rating_numeric'
merged_df["rating_numeric"] = merged_df["rating_text"].apply(lambda x: rating.get(x))

In [ ]:
assert 868 == merged_df[merged_df.rating_numeric == 0].shape[0]
assert True == ('rating_numeric' in merged_df.columns)

4. Create a function which filters the merged dataframe to only contain rows coming in from a specific city. Expected returned value is a dataframe **(2pts)**

In [21]:
def exercise_4(merged_df, city): 
     return merged_df[merged_df['city'] == city]

In [ ]:

assert 'Makati City' == exercise_4(merged_df, 'Makati City').city.unique()[0]
assert (976, 36) == exercise_4(merged_df, 'Makati City').shape

assert 'Mandaluyong City' == exercise_4(merged_df, 'Mandaluyong City').city.unique()[0]
assert (443, 36) == exercise_4(merged_df, 'Mandaluyong City').shape

assert (0, 36) == exercise_4(merged_df, 'Quezon  City').shape

5. Create a function to filter the dataframe to only contain certain columns passed in the function. Expected returned value is a dataframe **(1pt)**

In [22]:
def exercise_5(merged_df, cols_to_filter):
     return merged_df[cols_to_filter]

In [ ]:
cols = ['name', 'cuisines', 'city', 'aggregate_rating']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 4) == exercise_5(merged_df, cols).shape

cols = ['average_cost_for_two', 'book_url', 'cuisines', 'currency', 'deeplink',
       'events_url', 'featured_image', 'has_online_delivery',
       'has_table_booking', 'include_bogo_offers', 'is_book_form_web_view']
assert sorted(cols) == sorted(exercise_5(merged_df, cols).columns)
assert (6830, 11) == exercise_5(merged_df, cols).shape

6.  What is the most common restaurant name in the dataset? **(2pts)** Write down your answer and show code used to come up with the answer.

In [31]:
common_df = merged_df.groupby("name").size()
num = common_df.max()
common_df = common_df.idxmax()


print(f"The most common restaurant name in the dataset is {common_df}, which appeared {num} times.")

# Under the common_df variable, the merged_df variable is grouped by the name column and the size of each group is calculated
# In this num variable, the maximum value in the common_df variable is located
# Then in the next line, the index maximum value in the common_df variable is located

The most common restaurant name in the dataset is Starbucks, which appeared 99 times.

7. Which restaurant has the most expensive average cost for two? **(2pts)** Write down your answer and show code used to come up with the answer.

In [33]:
avecost_df = merged_df[["name","average_cost_for_two"]]
maxave = avecost_df["average_cost_for_two"].max()
maxname_idx = avecost_df["average_cost_for_two"].idxmax()
maxname = avecost_df["name"][maxname_idx]

print(f"The restaurant with the most expensive average cost for two is {maxname}, which costs around P{maxave}.")

# Under the ave_df variable, the merged_df variable contains the name column and the average_cost_for_two column
# In the next line, the maximum value in the average_cost_for_two of the avecost_df variable is located
# Then in the next line, the index maximum value in the average_cost_for_two of the avecost_df variable is located
# In the next line, the restaurant with the most expensive average cost for two from the "name" column of the avecost_df variable is lcoated

The restaurant with the most expensive average cost for two is The Tasting Room, which costs around P10000.

8. How many restaurants do not have a zipcode? **(1pt)** Write down your answer and show code used to come up with the answer.

In [34]:
zipcode = merged_df["zipcode"]

no_zipcode = zipcode.isnull() 
no_zipcode = no_zipcode.sum()

print(f"There are {no_zipcode} restaurants which do not have a zipcode.")

# Under the zipcode variable, the merged_df variable contains the zipcode column
# In the next line, isnull() indicates whether the zipcode variable is null  or not
# Next line, sum() indicates the number of  True values in the no_zipcode variable

There are 6713 restaurants which do not have a zipcode.

9. How many restaurants in the dataset allow online delivery? **(1pt)** Write down your answer and show code used to come up with the answer.

In [28]:
oldelivery = merged_df["has_online_delivery"]

oldelivery = oldelivery == 1
oldelivery = oldelivery.sum() 

print(f"There are {oldelivery} restaurants that allow online delivery.")

# Under the oldelivery variable, the merged_df variable contains the has_online_delivery column
# In the next line, it indicates whether the oldelivery variable is equal to 1
# Next line, sum() indicates the number of  True values in the oldelivery variable

There are 0 restaurants that allow online delivery.

10. Which locatlity has more expensive food? Poblacion or Salcedo Village? **(3pts)** Write down your answer and show code used to come up with the answer.

In [36]:
PSlocalcost = merged_df[["locality", "average_cost_for_two"]]

meanpobla = PSlocalcost[PSlocalcost["locality"] == "Poblacion"]["average_cost_for_two"].mean()
meansalcedo = PSlocalcost[PSlocalcost["locality"] == "Salcedo Village"]["average_cost_for_two"].mean()

if meanpobla > meansalcedo:
    print("Poblacion has more expensive food than Salcedo Village.")
else:
    print("Salcedo Village has more expensive food than Poblacion.")

# Under the PSlocalcost variable, the merged_df variable contains the locality column and average_cost_for_two column
# In the next line, it calculates average cost of Poblacion food by filtering the PSlocalcost DataFrame to only include rows where the "locality" is "Poblacion".
# In the next line, it calculates average cost of Salcedo food by filtering the PSlocalcost DataFrame to only include rows where the "locality" is "Salcedo Village".
# In the if else loop, it compares the meanpobla and meansalcedo variable.

Salcedo Village has more expensive food than Poblacion.

In [ ]:
References:

Pandas. (n.d.). Merge, join, concatenate and compare — pandas 2.1.1 documentation. pandas https://pandas.pydata.org/docs/user_guide/merging.html

Pandas. (n.d.). Pandas.DataFrame.apply — pandas 2.0.3 documentation. pandas https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.apply.html

Saturn Cloud. (2023, June 19). How to count Nan and null values in a pandas DataFrame. Saturn Cloud https://saturncloud.io/blog/how-to-count-nan-and-null-values-in-a-pandas-dataframe/

Saturn Cloud. (2023, June 19). What Is the Most Efficient Way of Counting Occurrences in Pandas. Saturn Cloud https://saturncloud.io/blog/what-is-the-most-efficient-way-of-counting-occurrences-in-pandas/

W3schools. (n.d.). Pandas DataFrame idxmax() Method. W3Schools Online Web Tutorials. https://www.w3schools.com/python/pandas/ref_df_idxmax.asp